<div class="container pt-5">
    <h1>Stocks</h1>
    <button type="button" class="btn btn-outline-dark my-4" *ngIf="!showFormAdd" (click)="showFormAdd = true">Add new
        stock</button>
    <div class="my-5" *ngIf="showFormAdd">
        <h3>New stock information</h3>
        <div class="form-group">
            <label>
                Symbol:
            </label>
            <input class="form-control" [(ngModel)]="stockAdd.symbol" />
        </div>
        <div class="form-group">
            <label>
                Name:
            </label>
            <input class="form-control" [(ngModel)]="stockAdd.name" />
        </div>
        <div class="form-group">
            <label>
                Distribition Law:
            </label>
            <select class="form-control" [(ngModel)]="stockAdd.distribution_law">
                <option value="uniform">uniform</option>
                <option value="normal">normal</option>
            </select>
        </div>
        <div class="form-group">
            <label>
                Max Change:
            </label>
            <input class="form-control" type="number" [(ngModel)]="stockAdd.max_change" />
        </div>
        <div class="form-group">
            <label>
                Share available:
            </label>
            <input class="form-control" type="number" [(ngModel)]="stockAdd.share_available" />
        </div>
        <div class="form-group">
            <label>
                Share start price:
            </label>
            <input class="form-control" type="number" [(ngModel)]="stockAdd.share_price" />
        </div>
        <div class="form-group py-3">
            <button class="btn btn-outline-dark btn-block" (click)="add()">
                Add
            </button>
            <button class="btn btn-outline-dark btn-block" (click)="showFormAdd = false">
                Cancel
            </button>
        </div>
    </div>
    <table class="table" style="table-layout: fixed">
        <thead class="thead-dark">
            <th style="width:10%">Symbol</th>
            <th style="width:20%">Name</th>
            <th style="width:15%">Distribution Law</th>
            <th style="width:15%">Max Change</th>
            <th style="width:15%">Share Available</th>
            <th style="width:10%">Price/Share</th>
            <th style="width:15%"></th>
        </thead>
        <tr *ngFor="let stock of stockList">
            <ng-container *ngIf="!isEditting(stock); else editModeTemplate">
                <td>{{stock.symbol}}</td>
                <td>{{stock.name}}</td>
                <td>{{stock.distribution_law}}</td>
                <td>{{stock.max_change}}</td>
                <td>{{stock.share_available}}</td>
                <td>{{stock.share_price.toFixed(2)}}</td>
                <td>
                    <button class="btn btn-outline-dark w-50" (click)="delete(stock)">Delete</button>
                    <button class="btn btn-outline-dark w-50" (click)="editMode(stock)">Edit</button>
                </td>
            </ng-container>
            <ng-template #editModeTemplate>
                <td>{{stockEdit.symbol}}</td>
                <td>
                    <div class="form-group">
                        <input [(ngModel)]="stockEdit.name" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select [(ngModel)]="stockEdit.distribution_law">
                            <option value="uniform">uniform</option>
                            <option value="normal">normal</option>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="stockEdit.max_change" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="stockEdit.share_available" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="stockEdit.share_price" />
                    </div>
                </td>
                <td>
                    <button class="btn btn-outline-dark w-50" (click)="editApply()">Apply</button>
                    <button class="btn btn-outline-dark w-50" (click)="editCancel()">Cancel</button>
                </td>
            </ng-template>
        </tr>
    </table>