head
	title Auction house
	script(src="/js/httpRequest.js")
	script(src="/js/jquery.js")
	script(src="/js/jquery-ui.js")
	link(rel="stylesheet",href="/css/w3.css")
	link(rel="stylesheet",href="/css/style.css")
	link(rel="stylesheet",href="/css/jquery-ui.css")
	script(src="/socket.io.js")
	script. 
		var socket = io.connect("http://localhost:3030");