table(style="width:100%;",border="1")
    tr
        th Id
        th Name
        th(style="width:150px") Picture
        th Buyer
        th Price

    each item in items
        tr
            td= item.itemId
            td= item.name
            td 
                a(href="/detail/"+item.itemId)
                    img(src="/img/"+item.picture,style="width:150px")
            td= item.soldTo?item.soldTo.user:""
            td= item.soldTo?item.soldTo.price:""
            