div(class="w3-bar w3-indigo")
    span(class="w3-bar-item w3-button w3-hover-indigo w3-right")= user.name
    a(href="/logout",class="w3-bar-item w3-button w3-hover-blue-gray w3-right") Logout
    a(href="/",class="w3-bar-item w3-button w3-hover-blue-gray") Home
    if user.name!="admin"
        a(href="/history",class="w3-bar-item w3-button w3-hover-blue-gray") History
