table(class="w3-table w3-striped w3-bordered")
	tr(class="w3-blue")
		th(style="width:20%") Name
		th(style="width:20%") Author
		th(style="width:20%") Available
		th(style="width:20%") Due Date
		th
	each book in data
		tr
			td= book.bookName
			td= book.author 
			td= book.isAvailable?"Yes":"No"
			td= book.lendingList.length>0&&!book.isAvailable?book.lendingList[0].dueDate:""
			td
				a(href='/detail/'+book.bookId,class="w3-button w3-white w3-border") Detail
				| 
				a(href='/edit/'+book.bookId,class="w3-button w3-white w3-border") Edit
				| 
				a(href='#',onClick="sendRequest('/books','DELETE',"+book.bookId+",reloadTable)",class="w3-button w3-white w3-border") Delete